<ng-container [ngSwitch]="coursesLoadState$ | async">
  <ng-container *ngSwitchCase="courseListViews.LOADED">
    <div class="base-margin">
      <table class="table" data-testid="courseTableView">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="col-width">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses$ | async; let i = index">
            <td>{{ course?.name }}</td>
            <td>{{ course?.description }}</td>
            <td>
              <button
                (click)="showUpdateCosurseModal(course)"
                class="btn btn-primary qtr-margin"
                attr.data-testid="courseTableUpdateActionButton-{{ i }}"
              >
                Update
              </button>
              <button
                attr.data-testid="courseTableDeleteActionButton-{{ i }}"
                (click)="deleteCourse(course.id)"
                class="btn btn-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="courseListViews.LOADING">
    <div data-testid="courseListLoader" class="load-course">
      Loading Courses...
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="courseListViews.ERROR">
    <div
      data-testid="courseListErrorAlert"
      class="alert alert-danger base-margin"
      role="alert"
    >
      An unexpected error occured!
    </div>
  </ng-container>
</ng-container>

<div
  data-testid="courseUpdateModal"
  [ngStyle]="{ display: displayStyle }"
  id="editCourseModal"
  class="modal"
>
  <div class="modal-content">
    <div class="modal-title">
      <h4>Update a Course</h4>
    </div>
    <form (ngSubmit)="updateCourse(updateForm)" #updateForm="ngForm">
      <div class="form-group form-field">
        <label for="CourseName">Course Name:</label>
        <input
          type="text"
          aria-label="EditCourseName"
          id="CourseName"
          name="name"
          class="form-control"
          required
          [(ngModel)]="courseToBeUpdated.name"
        />
      </div>
      <div class="form-group form-field">
        <label for="description">Description:</label>
        <textarea
          rows="4"
          cols="50"
          id="description"
          name="description"
          class="form-control"
          [(ngModel)]="courseToBeUpdated.description"
          required
        ></textarea>
      </div>
      <div class="update-button">
        <button
          type="button"
          class="btn btn-secondary qtr-margin"
          (click)="closeEditCourseModal()"
        >
          Close
        </button>
        <button
          attr.disabled="updateForm.invalid"
          class="btn btn-primary qtr-margin"
          type="submit"
          data-testid="courseUpdateModalSubmitUpdate"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
